* 
	margin: 0px 
	padding: 0px 
	font-family: 'Spartan', sans-serif 
#heder, #field, #within, #gallery, #cont, #footer 
	width: 100% 
	width: 1000% 
ul 
	list-style-type: none 
a 
	text-decoration: none 
	color: #000 
	font-size: 30px 
	text-transform: uppercase 
	font-weight: 600 
#heder 
	height: 900px 
	background-image: url('../image/slider.jpg') 
	background-repeat: no-repeat 
	background-attachment: fixed 
	background-size: cover 
	background-position: center 
	position: relative 
#navigacija 
	position: absolute 
	top: 15% 
	left: 70% 
	background-color: rgba(0,0,0,0.4) 
	border: 2px solid #696969 
	border-radius: 6% 
	padding: 2% 
	ul 
		li 
			margin: 3% 0 
#field, #within, #gallery, #cont, #footer 
	height: 500px 
	padding-top: 2.5% 
	text-align: center 
#omeni, #kon ul, #omot, #futer ul 
	display: flex 
#omeni 
	height: 450px 
	margin-top: 1% 
	padding: 0 5% 
	flex-direction: row 
	flex-wrap: wrap 
	justify-content: space-between 
#txt 
	width: 65% 
	height: 80% 
	text-align: left 
#txt p, #within p 
	margin-top: 10% 
	font-size: 100% 
h1, h2, h3 
	font-size: 250% 
	font-weight: 1000 
#slika 
	width: 30% 
	height: 80% 
	margin: auto 0 
	img 
		height: 100% 
		width: auto 
		border-radius: 8% 
#gallery 
	height: 800px 
#omot 
	margin-top: 2% 
	padding: 0 15% 
	flex-wrap: wrap 
	justify-content: space-around 
	.img 
		margin-bottom: 3% 
.img 
	&:hover 
		img 
			transform: scale(1.1) 
#cont 
	height: 200px 
	margin: 3% 0 
#kon 
	ul 
		flex-direction: row 
		justify-content: center 
		li 
			margin: 1% 1% 
#futer 
	height: 7% 
	background-color: #000 
	text-align: center 
	color: #fff 
	ul 
		flex-direction: row 
		justify-content: center 
		li 
			margin: auto 1% 
			a 
				color: #fff 
@media 
	screen 
		and 
			(max-width 
				&:1500px) 
					#gallery {
		height: 1500px 
