* {
    margin: 0px;
    padding: 0px;
	font-family: 'Spartan', sans-serif;
}

#heder, #field, #within, #gallery, #cont, #footer, #sk{
	width:100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
	font-size:30px;
}


/*HEADER*/

#heder {
	height:700px;
	background-image: url('../image/slider.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#navigacija {
	height: 50px;
	width: 100%;
	background-color: rgba(94, 94, 94, 0.664);
	box-shadow:rgb(95, 95, 95);
	position: fixed;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	z-index: 2;

}

#navigacija ul{
	height: 25px;
	width: 50%;
	display: flex;
  	flex-direction: row;
	justify-content: space-between;
	
}
#navigacija ul li{
	align-items: center;
}

#navigacija ul li a{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 450;
}

#navigacija a, #navigacija ul li a{
	color: rgb(255, 255, 255);
}

.on-scroll{
	background-color: rgb(85, 83, 83) !important;
}

/* BODY */

#field, #within, #gallery, #cont, #footer{
	height:500px;
	padding-top: 2.5%;
	text-align: center;	
}

#sk {
	height: 350px;
	margin-top:50px;
	padding-top:55px;
	text-align: center;
}

#skills{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.skill img{
	height:200px;
	width: auto;
	margin-bottom: 10px;
}

h2 {
	margin: 0px auto;
}

#omeni, #kon ul, #omot, #futer ul{
	display: flex;
	
}
#omeni{
	height: 450px;
	margin-top: 1%;
	padding: 0 5%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
#txt {
	width: 65%;
	height: 80%;
	text-align: left;
	
}

#txt p, #within p{
	margin-top: 10%;
	font-size:100%;
}

h1, h2, h3{
	font-size: 250%;
	font-weight: 1000;
}

#slika {
	width: 30%;
	height: 80%;
	margin: auto 0;
}
#slika img {
	height: 100%;
	width: auto;
	border-radius: 8%;
	
}

#gallery{
	height: 800px;
}

#omot{
	margin-top: 2%;
	padding:0 15%;
	flex-wrap: wrap;
	justify-content: space-around;
}

#omot .img {
	margin-bottom: 3%;
}

.img:hover img{
  transform: scale(1.1);
}
#cont {
	height:200px;
	margin: 3% 0;
}
#kon ul {
	flex-direction: row;
	justify-content: center;
}

#kon ul li {
	margin: 1% 1%;
}

/* FUTER */

#futer{
	height:7%;
	background-color: #000;
	text-align: center;
	color: #fff;
	
}
#futer ul{
	flex-direction:row;
	justify-content: center;
}
#futer ul li{
	margin: auto 1%;
}
#futer ul li a{
	color: #fff;
}

/*

@media screen and (max-width:1500px) {
	#gallery {
		height: 1500px;
	}
	
	
}
*/