* {
    margin: 0px;
    padding: 0px;
	font-family: 'Spartan', sans-serif;
}

#heder, #field, #within, #gallery, #cont, #footer, #sk{
	width:100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
	font-size:30px;
}


/*HEADER*/

#heder {
	background-image: url('../image/slider.jpg');
}
#code {
	background-image: url('../image/code.jpg');
}
.background{
	height:700px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
#navigacija {
	height: 50px;
	width: 100%;
	background-color: rgba(94, 94, 94, 0.664);
	box-shadow:rgb(95, 95, 95);
	position: fixed;
	flex-direction: row;
	align-items: center;
	justify-content:space-evenly;
	z-index: 2;
}
#navigacija ul{
	height: 25px;
	width: 80%;
  	flex-direction: row;
	justify-content: space-around;
}
#navigacija ul li{
	align-items: center;
}
#navigacija ul li a{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
}
#navigacija a, #navigacija ul li a{
	color: rgb(255, 255, 255);
}
.on-scroll{
	background-color: rgb(51, 51, 51) !important;
}

/* BODY */

#field, #gallery, #cont, #footer{
	height:500px;
	padding-top: 2.5%;
	text-align: center;	
}
#sk {
	height: 350px;
	margin:50px 0px 50px 0px;
	padding-top:45px;
	text-align: center;
}
#skills{
	margin: 30px 0px 40px 0px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.skill p{
	font-size: 15px;
	font-weight: 600;
}
.skill img{
	height:200px;
	width: auto;
	margin-bottom: 10px;
}
h2 {
	margin: 0px auto;
}
#kon ul, #omot, #futer, #futer ul, #skills, #navigacija, #navigacija ul{
	display: flex;
}
h1, h2, h3{
	font-size: 35px;
}
#gallery{
	height: 1000px;
	background-color: rgb(51, 51, 51);
}
#omot{
	margin-top: 2%;
	padding:0 15%;
	color:#fff;
	flex-wrap: wrap;
	justify-content: space-around;
}
h3{
	color: #fff;
	font-weight: 100;
}
#omot .img{
	margin-bottom:10px;
	width: 604px;
}
.img a img{
	border: 2px solid rgb(85, 83, 83);
	-webkit-filter: brightness(100%);
}
.img a img:hover {
    -webkit-filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.7s ease;
}
.spacing {
	margin-top:15px;
}
#field{
	text-align: center;
}
#txt{
	width:700px;
	margin:auto;
}
#field img {
	height: 350px;
	width: auto;
	border-radius: 4%;
}
#cont {
	height:200px;
	margin: 3% 0;
}
#kon ul {
	flex-direction: row;
	justify-content: center;
}
#kon ul li {
	margin: 1% 1%;
}

/* FUTER */

#futer{
	height:70px;
	background-color: rgb(51, 51, 51);
	text-align: center;
	color: #fff;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}
#futer ul{
	flex-direction:row;
	justify-content: center;
}
#futer ul li{
	margin: auto 1%;
}
#futer ul li a{
	color: #fff;
}